.card{
    width:100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-profile{
   height:40px;
   width: 40px;
   border-radius: 50% 50%;
   background-color: #E6E6FA;
   color:#5D3FD3;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card-content{
    height:40px;
    display: flex;
    align-items: center;
    padding:0px 5px;
}
.card-content .card-heading{
   margin:0;
   font-size:16px;
}
.card-content  .card-description{
    margin:0;
    font-size: 14px;
}
@media screen and (min-width:760px){
    .card-profile{
       height:60px;
       width: 60px;
    }
    .card-content{
        height:60px;
        padding:0px 10px;
    }
    .card-content .card-heading{
       font-size:18px;
    }
    .card-content  .card-description{
        font-size: 16px;
    }
}